<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar sidebar-dark bg-dark">
    <div class="sidebar-brand p-3">
      <strong>Espace Banque</strong>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link text-white">📊 Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/enroll" class="nav-link text-white">👥 Enrôlement</a>
      </li>
      <li class="nav-item">
        <a routerLink="/modify" class="nav-link text-white">📝 Modifier client</a>
      </li>
      <li class="nav-item">
        <a routerLink="/delete" class="nav-link text-white">❌ Supprimer client</a>
      </li>
      <li>
              <a routerLink="/client-admin-dashboard" class="nav-link text-white">🛠️ Admin Clients</a>
      </li>

    </ul>
  </div>

  <!-- Content -->
  <div class="flex-grow-1">
    <nav class="navbar navbar-light bg-light p-3">
      <span class="navbar-brand">Bienvenue 👋</span>
      <button class="btn btn-outline-danger btn-sm">Déconnexion</button>
    </nav>
    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
